body {
  font-family: Palatino;
}
form {
  display: inline-block;
}
ul {
  display:flex;
  justify-content:center;
}

ul li{
  margin: 1em;
  list-style: none;
  background-color: rgb(139, 218, 221);
  border-radius: 5px;
  padding: 10px;
}

.delete {
  background-color: darkseagreen;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
}

#form-wrapper{
  display: flex;
  margin: 10px;
}

#form-wrapper div{
  margin-right: 10px;
}